body {
  background-color: #FCECDD;
  font-family: 'Segoe UI', sans-serif;
  color: #222222;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #FF7601;
}

.section-dark {
  background-color: #ffffff;
  color: #222;
}

.section-grey {
  background-color: #FFF3E4;
  color: #222;
}

.hero-section {
  min-height: 100vh;
  background-color: #FFF0DC;
  padding: 80px 0;
  color: #222;
}

.navbar {
  background-color: #FF7601 !important;
  border-bottom: none;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #fff0dc !important;
}


.typing-animation {
  border-right: 2px solid #222;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.bg-dark {
  background-color: #FF7601 !important;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.bg-dark:hover {
  background-color: #e55d00 !important;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.btn {
  transition: all 0.3s ease;
}

.btn-success {
  background-color: #FF7601;
  border-color: #FF7601;
  color: white;
}

.btn-success:hover {
  background-color: #e55d00;
  color: white;
}

.project-image img {
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: #ffffff;
}

.project-image:hover img {
  transform: scale(1.05);
}

footer.bg-black {
  background-color: #FCECDD !important;
  color: #333;
}

footer a img {
  filter: invert(1);
}

a img {
  transition: transform 0.3s ease;
}

a:hover img {
  transform: scale(1.2);
}
